* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}
.container {
  width: 100%;
  background-color: #a9a9a9;
  /* height: 100vh; */
}

header {
}

.first-header-section {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: black;
  margin: 0;
}
.heading {
  color: #388c0b;
  font-size: 22px;
  padding: 6px 0;
}

.heading span {
  color: #fff;
}

.buy-now {
  font-size: 16px;
  padding: 6px 24px;
  color: #fff;
  background-color: #388c0b;
  border-radius: 2px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.secound-header-section {
  width: 84%;
  margin: 50px auto;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secound-header-section h2 {
  font-weight: 500;
  font-size: 32px;
}

.main-controller {
  display: flex;
  gap: 100px;
}

.secound-header-section nav {
  font-size: 16px;
  padding: 8px;
  background-color: #fff;
  border-radius: 40px;
}

.links a,
.links button {
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  margin-right: 30px;
}

.home-btn {
  padding: 13px 26px;
  border-radius: 27px;
  background: none;
  border: 2px solid #d3d3d3;
  cursor: pointer;
  font-size: 16px;
}

.request-demo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.circle {
  cursor: pointer;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  padding: 10px 6px;
}

.request-demo-btn {
  padding: 12px 23px;
  border-radius: 42px;
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* ///////////////////////////////////// */
article {
  margin: 0 auto;
  width: 84%;
  height: calc(100vh - 176px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.big-card {
  /* margin: 0 auto; */
  /* box-shadow: 0 0 3px #d3d3d3; */
  width: 440px;
  height: 500px;
  padding: 15px;
  border-radius: 32px;
  background-color: #eee;
}
.card {
  margin: auto;
  /* box-shadow: 0 0 3px #d3d3d3; */
  border: 2px dotted #d3d3d3;
  width: 410px;
  height: 470px;
  padding: 30px;
  border-radius: 21px;
  /* padding-bottom: 0; */
}

.big-card h1 {
  margin-bottom: 20px;
  text-transform: capitalize;
}

.big-card p {
  margin-bottom: 16px;
  margin-top: 16px;
  line-height: 1.7;
  color: #a0a0a0;
}

.big-card .box {
  display: flex;
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px dotted #d3d3d3;
}
.big-card .box-img {
  background-color: red;
  background: url(../images/21.jpg);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.small {
  height: 470px;
}
.small .card {
  height: 440px;
  padding: 50px;
}
.big-card i {
  margin-bottom: 30px;
}

.big-card span {
  color: #a0a0a0;
}

.big-card img {
  margin-bottom: 20px;
  border-radius: 15px;
}

.big-card button {
  border-radius: 45px;
  padding: 14px 22px;
  color: #84c652;
  border: solid 2px #84c652;
  background: none;
  outline: none;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
}

.small-text {
  display: flex;
  gap: 15px;
  text-transform: capitalize;
}
